* {
	margin: 0px;
	padding: 0px;
}

/* ----------- LOGO ------------ */

header#menu {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #FFE1D2;
}

header#menu img {
	max-width: 100%;
	width: 250px;
}

/* ----------- MENU ------------ */

header#menu #nave {
	/* border: 1px solid red; */
	background: #F2BE7E;
}

header#menu #nave ul {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

header#menu #nave ul li {
	padding: 10px;
	list-style: none;
}

header#menu #nave ul li a {
	text-decoration: none;
	color: white;
	font-size: 1em;
}


header#menu #nave ul li a:hover {
	text-decoration:underline;
	text-decoration-color: #CE6F83;
	
}

/* ----------- CAPA ------------ */

figure#capa {
	position: relative;
}

figure#capa figcaption {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	bottom: 0;
	width: 80%;
	padding: 10px;
	margin: 0 auto;
}

figure#capa figcaption h3 {
	text-align: left;
	font-size: 16px;
	text-transform: uppercase;
	font-family: "Arial", sans-serif;
	color: white;
}

figure#capa figcaption p {
	font-size: 15px;
	font-family: sans-serif;
	color: black;
	font-family: 'Akaya Telivigala', cursive;
}

figure#capa img {
	width: 100%;
}

/* ----------- SEÇÃO TERAPIA ------------ */

section#terapia h1 {
	text-align: center;
	margin-bottom: 20px;
	color: #F2BE7E;
}

section#terapia {
	background-color: #FFE1D2;
	padding-top: 20px;
	text-align: center;
}

section#terapia img {
	width: 250px;
	height: 250px;
}

section#terapia figcaption p {
	text-align: left;
	padding: 5%;
}

/* --------- SEÇÃO SERVIÇOS ----------- */

section#servicos div {
	margin: auto;
	text-align: center;
	width: 80%;
	font-size: 12pt;
	font-family: cursive;
}

section#servicos h3 {
	color: #F2BE7E;
	padding: 10px;
}

section#servicos button {
	color: black;
	background-color: #F2BE7E;
	border-style: none;
	padding: 10px;
	border-radius: 15px;
	font-family: cursive;
	margin-top: 10px;
	margin-bottom: 20px;
}

/* --------- RODAPÉ ----------- */

footer#contato {
	background-color: #F2BE7E;
	text-align: center;
	padding: 15px;
}

footer#contato p {
	padding: 10px;
}

/*--------- RESPONSIVIDADE -------------*/

@media screen and (max-width: 480px) {

	.visibilidade {
		display: none;
	}
}

/* -------------------------------------*/

@media screen and (min-width: 481px) {
	div.horizontal {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-align: center;
	}

	div.horizontal div.visibilidade {
		margin-top: 100px;
	}

	nav#nave {
		font-size: 1.3em;
	}

	/*-------------------------------------- ------- Imagem da Capa  */

	figure#capa {
		width: 100vw;
		height: 80vh;

	}

	figure#capa img {
		width: 100%;
		height: 100%;
	}

	figure#capa figcaption {
		opacity: 0;
		position: absolute;
		top: 0;
		background-color: rgba(0, 0, 0, 0.1);
		width: 100%;
		height: 100%;
		padding: 10px;
		box-sizing: border-box;
		transition: opacity 1s;
	}

	figure#capa figcaption h3 {
		text-align: left;
		margin-top: 30px;
		font-size: 20pt;
		text-transform: uppercase;
		font-family: "Arial", sans-serif;
		color: white;
	}

	figure#capa figcaption p {
		text-align: left;
		margin-top: 40px;
		font-size: 18pt;
		font-family: sans-serif;
		color: black;
		font-family: 'Akaya Telivigala', cursive;
	}

	figure#capa:hover figcaption {
		opacity: 1;

	}

	/* -------------------------------------- ------- Seção Terapia  */

	section#terapia h1 {
		text-align: center;
		margin-bottom: 40px;
		color: #F2BE7E;
	}

	section#terapia {
		background-color: #FFE1D2;
		/* 	text-align: center; */
	}

	section#terapia div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	section#terapia figcaption {
		width: 300px;
		height: 200px;
		font-family: cursive;
		font-size: 1em;
		overflow: hidden;
		/* esconde o texto vazado */
		/* border: 2px dashed blue; */
	}

	section#terapia figcaption p {
		text-align: justify;
		margin: 10px 20px 10px 20px;
		/*border: 2px dashed red; */
	}

	section#terapia figure img:hover {
		border: 1px solid #CE6F83;
		transform: scale(1.2);
		margin-bottom: 30px;
		/*margem p/ não cobrir o nome*/
	}

	/*-------------------------------------- ------- Seção Serviços */
	section#servicos {
		display: flex;
		flex-direction: row;
		flex-wrap: no-wrap;
		justify-content: center;
		margin: 30px;
	}

	section#servicos div {
		margin: 60px;
		width: 400px;
		font-family: cursive;
		font-size: 1.5em;

	}

	section#servicos div img {
		width: 100%;
		height: 60vh;
	}
	
	section#servicos div button:hover{
		text-decoration: underline;
		text-decoration-color: #CE6F83;
		cursor: pointer;
	}

	/*-------------------------------------- ------- Rodapé */
	footer#contato{
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-top: 50px;
	}

	footer#contato p{
		font-size: 1em;
	}

	/* -------------------------------------- ------- Ajeitando a imagem : Quem Somos*/

	@media screen and (min-width: 481px)and (max-width:768px) {

		section#servicos {
			display: flex;
			flex-direction: row;
			justify-content: center;
			font-size: 0.8em;
			padding: 2vw;
		}

		section#servicos div {
			margin: 0 auto;
		}


	}
	

}