
*{
	margin: 0px;
	padding: 0px;
}

h1#semantico{
	display: none;/*Oculta o título*/
}

h1{
	font-family: sans-serif;
	text-align: center;
	color: #F2BE7E;
	text-transform: uppercase;
	font-size: 14pt;
	margin: 10px;

}

/*--------------- Barra Inicial ---------------------*/
div#barra{

	background-color: #FFE1D2; /*Rosa Bebê*/
}

div{
	/*border: 1px solid blue;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

div.caixa-diferente{
	padding-top: 50px;
}
/*-------------------Menu--------------------*/

nav#menu{
	height: 80px;
	background-color: #F2BE7E; /*Laranja Claro*/

}

nav#menu ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px;

}

nav#menu ul li{
	margin: 10px 20px 10px 20px;	
	list-style: none;
}

nav#menu ul li a {
	text-decoration: none;
	color: white;
	font-size: 15pt;
}

/*-------------------Capa--------------------*/

figure#capa{
	width: auto;
	height: 400px;
	/*border: 1px solid red;*/
	box-shadow: 1px 1px 4px;
	position: relative;
}

figure#capa img{
	width: 100%;
	height: 100%;

}

figure#capa figcaption{
	opacity: 0;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.1);/*dar a cor de fundo*/
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure#capa figcaption h3{
	text-align: left;
	margin-top: 30px;
	font-size: 20pt;
	text-transform: uppercase;
	font-family: "Arial", sans-serif;
	color: white;
}


figure#capa figcaption p{
	text-align: left;
	margin-top: 40px;
	font-size: 18pt;
	font-family: sans-serif;
	color:  black;
	font-family: 'Akaya Telivigala', cursive;
}

figure#capa:hover figcaption{
	opacity: 1;

}

/*-----------------Seção - terapia --------------------*/

section#terapia{
	
	background-color:#FFE1D2;/*rosa*/
	max-height: 500px;
	margin: auto;
	padding-top: 40px;
	
}
section#terapia div{
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 40px;
}
section#terapia figure img{
	width: 250px;
	height: 250px;

}

section#terapia figcaption{

	width: 300px;
	height: 150px;
	font-family: cursive;
	font-size: 12pt;
	overflow:hidden;/*esconder o texto*/
}

section#terapia figcaption p{
	text-align: justify;

	margin: 10px 20px 10px 20px;
}

section#terapia figure img:hover{
	border: 1px solid #CE6F83;/*rosa escuro*/
	transform: scale(1.2);
	
}


/*-----------------Seção - serviços --------------------*/

section#servicos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px;
}

section#servicos div img{
	width: 400px;
	height:400px;
	margin: 10px;

}

section#servicos div#texto{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin:60px;
	width: 400px;
	height: 200px;
	font-family: cursive;
	font-size: 18pt;
}

section#servicos div#texto h3{
	color:#F2BE7E; /*laranja*/
	padding: 10px;
}

section#servicos div#texto p{
	margin-bottom: 20px;

}

section#servicos div#texto button{
	
	color:black; 
	padding: 10px;
	border-radius: 25px;
	width:250px;
	height: 250px;
	margin:0 auto;
	background-color:#F2BE7E;
	font-size: 12pt;
	font-family: cursive;
	border-style: none;
}

section#servicos div#texto button:hover{
	text-decoration: underline;
	cursor: pointer;
}

/*----------------- Footer --------------------*/
footer{
	

	background-color:#F2BE7E; 
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer p{
	margin: 20px;
	padding: 20px;
	
}

